@using eSKImo.Models;
@model EmailModel
@{
    ViewBag.Title = "eSKImo";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Be safe</title>

    <!-- css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="/fonts/font awsome/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/nivo-lightbox.css" rel="stylesheet" />
    <link href="/Content/default.css" rel="stylesheet" type="text/css" />
    <link href="/Content/animations.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet">
    <link href="/Content/default.css" rel="stylesheet">
   

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom" style="padding-top:0px">
    <section class="hero" id="intro">
        <div class="container-cric" style="width:100%">
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                    <div class="animatedParent">
                        <h1 class="animated fadeInDown go">ESKIMO</h1>
                        <p class="animated fadeInUp go ">Avoid ligament injuries during your ski descends </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="#contact" class="learn-more-btn btn-scroll">Get the knee brace with sensors</a>
                </div>
            </div>

            <!--Scroll button -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="arrow-bottom ">
                        <a class="arrow-wrap btn-scroll" href="#about">
                            <span class="arrow"></span>
                            <!--<span class="hint">scroll</span>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="site-logo">
                            <a href="#contact" class="brand">Be safe</a>
                        </div>
                    </div>


                    <div class="col-md-10">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" onclick="">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#intro">Home</a></li>
                                <li><a href="#about">Prototype</a></li>
                                <li><a href="#app">App</a></li>
                                <li><a href="#service">Questionnaire </a></li>
                                <li><a href="#works">Team</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- /.Navbar-collapse -->

                    </div>
                </div>
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- /Navigation -->
    <!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
        <div class="container marginbot-50">
            <div class="row">


                <div class="row">

                    <div class="col-lg-8 col-lg-offset-2 animatedParent">

                        <div class="text-center  animated fadeInUp inner h1-cristof">
                           Eskimo is an non-intrusive technology designed to help athlets with ligament related injuries and increase performance. So far the array of sensors can monitor torsional movements in the knee during ski descends, the main cause of ACL injury at ski.

                            <br />

                            <br />
                            <br />
                            <!-- TESTING COLLAPSE IN HTML -->
                            <button class="btn btn-skin btn-scroll  collapse" data-toggle="collapse" data-target="#youtubeVideo">Click to see the Prototype</button>
                            <!--<a href="#youtubeVideo" data-toggle="collapse" data-target="#youtubeVideo" class="">Take a look </a> -->
                            <div id="youtubeVideo" class="collapse">
                                <br />
                                <br />
                                <br />
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/0b9-0P40oJ0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>

    </section>
    <!-- /Section: about -->
    <!--Application section-->
    <section id="app" class="home-section color-dark text-center bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="animatedParent">
                            <div class="section-heading text-center">
                                <h2 class="h-bold animated bounceInDown">See all the warnings on your smartphone </h2>
                                <div class="divider-header"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="row animatedParent">
                <div class="col-md-12 col-md-12 col-lg-12 col-sm-push-1

                    <div class=" row gallery-item">

                    <div class="col-md-2 col-md-offset-1 animated fadeInUp">
                        <!--<a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                        <div class="row">
                            <br />
                            <br />
                            <br />
                            <div class="h1-cristof">
                                Averege stress put onto your knee ligaments
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="row">
                            <div class="h1-cristof">
                                Get advice on what to improve to avoid injuring your knee
                            </div>
                        </div>

                        <br />
                        <br />
                    </div>

                    <div class="col-sm-4 animated fadeInUp">
                        <!-- <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                        <img src="~/aplicatieV3.png" class="img-responsive" alt="img" align="middle">
                        <br />
                        <br />
                    </div>

                    <div class="col-sm-3 animated fadeInUp">
                        <div class="row">

                            <br />
                            <br />
                            <br />
                            <div class="h1-cristof">
                                List with all your potentially dangerous movements
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- End of mobile app section -->


    <!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark background-email bg-contact">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="animatedParent">
                        <div class="section-heading text-center">
                            <div class="h1-contact">
                                Get it as soon as we launch
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container back">

            <div class="row marginbot-0">
                <div class="container-cric ">
                    <div class="col-md-10 col-offfset-3">
                        <center>
                            <form action="/" method="post">
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <div class="container-cric ">
                                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control bigfield ", @placeholder = "Email" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </center>
                    </div>

                    <div class="row">
                        <br />
                        <br />
                        <center>
                            <div class="col-lg-6">
                                <div class="section-heading text-center">
                                    <div class="h1-contact-small-header">It works in other sports </div>
                                    <div class="h1-contact-small-description">This technology can be ported to any other sport</div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="section-heading text-center">
                                    <div class="h1-contact-small-header">Join us</div>
                                    <div class="h1-contact-small-description">Using this email address we will keep you in touch with our development </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- /Section: contact -->


    <!-- Section: services -->
    <section id="service" class="home-section color-dark bg-gray">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="section-heading text-center">
                            <h2 class="h-bold">It matters to us what you think </h2>
                            <div class="divider-header"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <div class="container">

                <div class="row animatedParent">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-laptop fa-2x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5> Ski </h5>
                                    <div class="divider-header"></div>
                                    <img src="~/skiIcon.png" alt="ski" />
                                    <div class="h1-features">
                                        <p>
                                            <br />
                                            Did you have problems at ski ?
                                            <br />
                                            <br />
                                            <br />
                                            @Html.ActionLink("I have problems at ski", "SkiForm", "Home")
                                            <br />
                                            
                                        </p>
                                    </div>
                                    <!--<a href="#" class="btn btn-skin">Learn more</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft slow">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-camera fa-2x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5>Field tennis</h5>
                                    <div class="divider-header"></div>
                                    <img src="~/tennisIcon.png" alt="tennis" />
                                    <div class="h1-features">
                                        <p>
                                            <br />
                                            I need to improve my game
                                            <br />
                                            <br />
                                            <br />
                                            @Html.ActionLink("I have difficulties at tennis", "FieldTennisForm", "Home")
                                            <br />
                                            <!--<a href="#" class="btn btn-skin">Learn more</a>-->
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="animated rotateInDownLeft slower">
                            <div class="service-box">
                                <div class="service-icon">
                                    <span class="fa fa-code fa-2x"></span>
                                </div>
                                <div class="service-desc">
                                    <h5>Other sport</h5>
                                    <div class="divider-header"></div>
                                    <img src="~/otherIcon.png" alt="other" />
                                    <div class="h1-features">
                                        <p>
                                            <br />
                                            I have problems in other sports
                                            <br />
                                            <br />
                                            <br />
                                            @Html.ActionLink("Tell us about it", "OtherSportForm", "Home")                                            
                                            <br />
                                        </p>
                                    </div>
                                    <!--<a href="#" class="btn btn-skin">Learn more</a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Mobile app section -->
    <!-- /Section: services -->
    <!-- Section: works -->
    <section id="works" class="home-section color-dark text-center bg-white">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div>
                        <div class="animatedParent">
                            <div class="section-heading text-center">
                                <h2 class="h-bold animated bounceInDown">We are behind it</h2>
                                <div class="divider-header"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class="row animatedParent">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="row gallery-item">
                        <div class="col-md-3 animated fadeInUp">
                            <!--<a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                            <img src="~/Alexandru_Aungurencei.png" class="img-responsive" alt="img">
                            <br />
                            <br />
                            <div class="section-heading text-center">
                                <h5 class="h-bold">Alex </h5>
                                <div class="divider-header"></div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-3 animated fadeInUp slow">
                            <!-- <a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                            <img src="~/Cristofor_Rotsching.png" class="img-responsive" alt="img">
                            <br />
                            <br />
                            <div class="section-heading text-center">
                                <h5 class="h-bold">Cristofor </h5>
                                <div class="divider-header"></div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-3 animated fadeInUp slower">
                            <!--<a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                            <img src="~/Andrei_Tuicu.png" class="img-responsive" alt="img">
                            <br />
                            <br />
                            <div class="section-heading text-center">
                                <h5 class="h-bold">Andrei </h5>
                                <div class="divider-header"></div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-3 animated fadeInUp">
                            <!-- <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">-->
                            <img src="~/Oana_Stroie.png" class="img-responsive" alt="img">
                            <br />
                            <br />
                            <div class="section-heading text-center">
                                <h5 class="h-bold">Oana </h5>
                                <div class="divider-header"></div>
                                <br />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- /Section: team -->



    <center>
        <br />
        <br />
        <address>
            <strong>Facebook :</strong>   <a href="http://facebook.com/eskimobrace">facebook.com/eskimobrace</a><br />
            <strong>Telephone : </strong> +40 721 858 913
            <br />
            <strong>Email : </strong>eskimostartup@gmail.com
            <br />

        </address>
    </center>


    <script src="/Scripts/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.sticky.js"></script>
    <script src="/Scripts/jquery.easing.min.js"></script>
    <script src="/Scripts/jquery.scrollTo.js"></script>
    <script src="/Scripts/jquery.appear.js"></script>
    <script src="/Scripts/stellar.js"></script>
    <script src="/Scripts/nivo-lightbox.min.js"></script>

    <script src="/Scripts/custom.js"></script>
    <script src="/Scripts/css3-animate-it.js"></script>
</body>

</html>

<script src="/bundles/jquery?v=FVs3ACwOLIVInrAl5sdzR2jrCDmVOWFbZMY6g6Q0ulE1"></script>

<script src="/bundles/bootstrap?v=2Fz3B0iizV2NnnamQFrx-NbYJNTFeBJ2GM05SilbtQU1"></script>